# Core functionality - changes here should be rare!
/src/app.py                   @magus-richard
/src/backend/database.py      @magus-richard
/src/backend/routers/auth.py  @magus-richard

# The frontend will need refactored soon to be more object oriented.
/src/static/   @magus-richard
